.order-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 5px;
    background: plum;
    border: 1px solid purple;
    height: 100%;
}