<ul *ngFor="let user of users; let last = last">
    <li><img src="{{ user.profilePhotoUrl }}"></li>
    <li>ID: {{ user.id }}</li>
    <li>Name: {{ user.name }}</li>
    <li>Surname: {{ user.surname }}</li>
    <li>Gender: {{ user.gender }}</li>
    <li>Age: {{ user.age }}</li>
    <li>Birth: {{ user.dateOfBirth | date: "d MMM y" }}</li>
    <li style="padding-left: 30px;">Città: {{ user.address.city }}</li>
    <li style="padding-left: 30px;">Via: {{ user.address.street }}</li>
    <li style="padding-left: 30px;">Cap: {{ user.address.postalCode }}</li>
    <li>Posizione: {{ user.role }}</li>
    <li>Username: {{ user.username }}</li>
    <button (click)="remove(user)">Delete</button>
</ul>