<img width="30%" src="{{ user.profilePhotoUrl }}">
<p>ID: {{ user.id }}</p>
<p>Name: {{ user.name }}</p>
<p>Surname: {{ user.surname }}</p>
<p>Gender: {{ user.gender }}</p>
<p>Age: {{ user.age }}</p>
<p>Birth: {{ user.dateOfBirth | date: "d MMM y" }}</p>
<p style="padding-left: 30px;">Città: {{ user.address.city }}</p>
<p style="padding-left: 30px;">Via: {{ user.address.street }}</p>
<p style="padding-left: 30px;">Cap: {{ user.address.postalCode }}</p>
<p>Posizione: {{ user.role }}</p>
<p>Username: {{ user.username }}</p>
<p style="padding-left: 30px;">Company ID: {{ user.companies[0].id }}</p>
<p style="padding-left: 30px;">Company name: {{ user.companies[0].name }}</p>
<p style="padding-left: 30px;">Company description: {{ user.companies[0].description }}</p>
<p style="padding-left: 60px;">Company city: {{ user.companies[0].location.city }}</p>
<p style="padding-left: 60px;">Company street: {{ user.companies[0].location.street }}</p>
<p style="padding-left: 60px;">Company cap: {{ user.companies[0].location.postalCode }}</p>
<p style="padding-left: 30px;">Company ID: {{ user.companies[1].id }}</p>
<p style="padding-left: 30px;">Company name: {{ user.companies[1].name }}</p>
<p style="padding-left: 30px;">Company description: {{ user.companies[1].description }}</p>
<p style="padding-left: 60px;">Company city: {{ user.companies[1].location.city }}</p>
<p style="padding-left: 60px;">Company street: {{ user.companies[1].location.street }}</p>
<p style="padding-left: 60px;">Company cap: {{ user.companies[1].location.postalCode }}</p>


